# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/

# Build / install
build/
install/
.eggs/
*.egg-info/

# ROS / colcon
log/
build_*/
install/
COLCON_IGNORE

# Python virtual environments
venv/
env/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
*.log
